<div class="row">
  <select class="form-control ml-auto col-2">
    <option selected value="nome">Nome</option>
  </select>
  <input type="text" class="form-control mr-sm-2 col-3" (input)="pesquisar($event.target.value)"
    placeholder="Pesquisa..." aria-label="Search" />
</div>
&nbsp;
<div class="col-12">
  <div class="card-columns">
    <div class="card bg-dark text-light" *ngFor="let ator of atores" (click)="visualizar(ator)">
      <img *ngIf="ator?.poster" class="card-img" height="350" src="http://image.tmdb.org/t/p/w500/{{ ator?.poster }}"/>
      <img *ngIf="!ator?.poster" class="card-img" height="350" src="/imagens/silhueta.jpg" />
      <div class="card-body">
        <p class="card-title">{{ ator?.nome }}</p>
      </div>
    </div>
  </div>
</div>
<ngb-pagination class="d-flex justify-content-center"  [collectionSize]="totalElements"  [pageSize]="6" 
[maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)=alterarPagina($event)>
</ngb-pagination>